/* 
========
Fonts
========
*/

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400&family=Grand+Hotel&display=swap');


/* 
========
Variables
========
*/

:root {
  --clrPrimary: #678e3e;
  --clr-primary-light: #beed8c;
  --clr-gray-1:#102a42;
  --clr-gray-5:#617d98;
  --clr-gray-10:#f1f5f8;
  --clr-white: #fff;
  --clrPrimary--translucid: rgba(103, 142, 62, 0.5);
  --ff-primary: "Catamaran", sans-serif;
  --ff-secondary: "Grand Hotel", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}
/* 
========
Global styles
========
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background-color: var(--clr-white);
  color: var(--clr-gray-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
a{
  text-decoration: none; 
}
img {
  width: 100%;
  display: block;
}
h1,h2,h3,h4,h5 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1{
font-size: 3rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.5rem;
}
h4{
  font-size: 1rem;
}
p{
  margin-bottom: 1.25rem;
}
button{
  border: none;
  transition: var(--transition);
}
@media  screen and (min-width:800px) {
  h1{
    font-size: 4rem;
    }
    h2{
      font-size: 3rem;
    }
    h3{
      font-size: 2rem;
    }
    h4{
      font-size: 1rem;
    }
    body{
      font-size: 1rem;
    }
    h1,h2,h3,h4,h5 {
    
      line-height: 1;
   
    }
}

/* global styles */

.btn {
  text-transform: uppercase;
  background: var(--clrPrimary);
  color:var(--clr-white);
  padding: 0.75rem 1rem;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  font-weight: 700;
  font-size: 1rem;
}
.btn:hover{
  background: var(--clr-primary-light);
}
.clearfix::after, .clearfix::before {
  content: ' ';
  display: table;
  clear: both
}
.about-section h3{
  font-family: var(--ff-secondary);
  color: var(--clrPrimary) 
}
.about-section {
  margin-bottom: 2rem;
  margin-top: 2rem
}
.section-title {
  margin-bottom: 2rem;
}

/*
========
Header
========
*/

.header {
  height: 100vh;
  background:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./images/main-bcg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*animation */
  overflow-x: hidden;
  position: relative

}

.banner {
  position: absolute;
  text-align: center;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%)
}
.banner h2 {
  color:var(--clrPrimary);
  font-family: var(--ff-secondary);
  /*animation*/
 animation: slideFromRight 5s ease-out 1
}
.banner h1{
  color: var(--clr-white);
  font-family: var(--ff-primary);
  margin: 1.25rem 0 2rem 0;
  /*animation*/
  animation: slideFromLeft 5s ease-in-out 1

}
.btn.banner-btn {
  outline: 0.125rem solid var(--clrPrimary);
  outline-offset: 0.25rem;
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

/* content divider */
.contentDivider{
  height: 0.5rem;
  background: linear-gradient(to left, var(--clrPrimary), #e9b949, var(--clrPrimary));
  width: 100%;
}

@keyframes slideFromRight {
  0%{
    transform: translate(1000px);
    opacity: 0.1;
  }
  25%{
    opacity: 0.25;
  }
  50%{
    transform: translate(-200px);
    opacity: 0.5;
  }
  75%{
    transform: translate(50px);
    opacity: 0.75;
  }
  100%{
    transform: translate(0px);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  0%{
    transform: translate(-1000px);
    opacity: 0.1;
  }
  25%{
    opacity: 0.25;
  }
  50%{
    transform: translate(200px);
    opacity: 0.5;
  }
  75%{
    transform: translate(-50px);
    opacity: 0.75;
  }
  100%{
    transform: translate(0px);
    opacity: 1;
  }
}

.skills {
 
  background: var(--clr-gray-10);
  width: 100%;
}
.skill-icon{
  font-size: 2rem;
  color: var(--clrPrimary);
  display: inline-block;
 margin: 1rem auto;
 transition: var(--transition);
}

.skill {
  /* float: left; */
  text-align: center;
  transition: var(--transition);
  padding: 2.5rem;
}


.skill p{
  font-size: 0.8rem;
  color:var(--clr-gray-5);
  max-width: 17rem;
  margin: 0 auto
}
.skill:hover{
  background-color: var(--clr-white);
  box-shadow: 0px 3px var(--clrPrimary)
}
.skill:hover .skill-icon {
  transform: translateY(-5px);
}
@media screen and (min-width: 576px){
  .skill {
    width: 50%;
    float:left;
  }

}
@media screen and (min-width: 1180px){
  .skill {
    width: 25%;
  }

}
/* about */
.about-section {
  width: 85vw;;
  margin: 2rem auto;
}
.about-article { 
  max-width: 85vw;
  margin: 0 auto;
  float: left;
}

.img-container{
  border: 0.4rem solid var(--clrPrimary);
  overflow: hidden;
  transition: var(--transition);
  max-width: 30rem;
  background: var(--clrPrimary);
  margin: 2rem auto;
}
.about-pic {
  transition: var(--transition);
}
.img-container:hover .about-pic{
  transform: scale(1.2);
  opacity: 0.5;

}

@media screen and (min-width:992px){
  .about-section {
    width: 70vw;
  }
  .about-article {
    width: 30vw;
    padding: 0 2rem;
  }
  .section-info {
width: 35vw;
padding: 2rem 2rem;
  }
  

}

/* == product section == */
.products-container {
  margin: 2rem auto;
  background-color: var(--clr-gray-10);
  padding: 2rem 0;
}
.product-section {
  width: 70vw;
  margin: 0 auto;
}
.product img {
  border-radius: .3rem;
  margin: 1rem 0;
  max-width: 30rem;
}

@media screen and (min-width: 992px) {
  .product-section {
    width: 70vw;
  }
}